@page
@model AdminManagement.Pages.Brands.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Brand.BrandId" />
            <div class="form-group">
                <label asp-for="Brand.Name" class="control-label"></label>
                <input asp-for="Brand.Name" class="form-control" />
                <span asp-validation-for="Brand.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.LogoUrl" class="control-label"></label>
                <input asp-for="Brand.LogoUrl" class="form-control" type="file" id="image" name="image"/>
                <img id="preview" src="#" width="150" height="100" class="hidden" />
                <span asp-validation-for="Brand.LogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.Status" class="control-label"></label>
                <input asp-for="Brand.Status" class="form-control" hidden/>
                @if (Model.Brand.Status == 1)
                {
                    <label class="control-label text-success">Stocking</label>
                }
                else
                {
                    <label class="control-label text-danger">Delete</label>
                }
                <span asp-validation-for="Brand.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
<style>
    .hidden {
        display: none;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('input[type="file"]').change(function () {
                var file = $('input[type="file"]').get(0).files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        $('#preview').attr('src', reader.result);
                        $('#preview').removeClass("hidden");
                    }
                    reader.readAsDataURL(file);

                }
            });
        });
    </script>
}
